/*Header*/
.jumbotron{
    padding:2rem 3rem;
    background-color: #fa26a0;
    border-radius: 0px;
    color:#fff;
    font-weight: bolder;
    text-align: center;
}

.navi{
    padding-left: 31%;
    padding-bottom: 1rem;
    list-style: none;
}
.navi li{
    margin-left: 2rem;
    color:#fff;
    float: left;
    margin-bottom: 2rem;
}
.navi li a{
    font-size: larger;
    text-decoration: underline;
    color: #fff;
}
.navi li a:hover{
    text-decoration: none;
    color: #eee;
}
.jumbotron h1{
    text-align: center;
}
.jumbotron title{
    font-weight: bo;
}

/*Generelt*/
body{
    color:#333;
}
.row div{
    margin: 20px auto
}

footer{
    margin-top: 4rem;
    background-color: #fa26a0;
    height:100px;
    color:#fff;
}

.btn-outline-info{
    border-color: #fa26a0;
    color: hotpink;
}


.btn-outline-info:hover{
    border-color: #fa26a0;
    background-color: #fa26a0;
}
.display-8{
    margin: 2rem 0;
}


/*Cards*/
h5{
    font-weight: 600;
}
.card{
    border:none;
}
.card-title{
    text-align: center;
    color:#333;
    width: 100%;
}
.card-body{
    padding-top: 0px;
}
.card:hover .card-img-top{
    filter:grayscale(0%);
    animation: pictureAnimation 0.2s;
}
.libtn{
    border-color: #0072b1;
    color: #0072b1;
}
.libtn:hover{
    background-color: #0072b1;
    border-color: #0072b1;
}
.libtn:hover span{
    color:#fff;
}
.libtn:hover img{
    filter:invert(100%);
}
.card-img-top{
    filter:grayscale(100%);
    border-radius:25rem;
    height: 18rem;
}
.card-img-border{
    height: 18rem;
    border-radius: 50%;
}

/*Animations and media*/

@keyframes pictureAnimation{
    from {filter:grayscale(100%); };
    to{filter:grayscale(0%); }
}

@media (max-width: 1000px){
    .card-img-top{
        filter:grayscale(0%);
    }
}
